<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastro de Carro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Projeto Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="cliente.html">Cliente</a>
                <a class="nav-item nav-link active" href="#">Carro</a>
                <a class="nav-item nav-link" href="concessionaria.html">Concessionária</a>
            </div>
        </div>
    </nav>

    <form method="POST">
        <div class="container container-carro">

            <div class="card">
                <div class="card-header">
                    <h4>Cadastro de Carro</h4>
                </div>

                <div class="card-body">
                    <div class="form-row">

                        <!-- Div Nome -->
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="" for="modelo">Modelo</label>
                            <input class="form-control" type="text" name="modelo" id="modelo">
                        </div>

                        <!-- Div CPF -->
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="" for="ano">Ano</label>
                            <input class="form-control" type="text" name="ano" id="ano">
                        </div>

                        <!-- Div CPF -->
                        <div class="form-group col-lg-4 col-sm-12">
                            <label class="" for="valor">Valor</label>
                            <input class="form-control" type="text" name="valor" id="valor">
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-row">
                <div class="col-12 text-right">
                    <button type="reset" class="btn btn-outline-secondary">Calcelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>

    </form>
</body>

</html>