<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Detalhes da Concessionaria</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="all.css">
</head>
<body>
<a class="nav-item nav-link" href="/">Voltar</a>
<br/>
	<div th:each="concessionaria : ${concessionaria}" class="container">
		<h2 th:text="${concessionaria.nome}"></h2>

	</div>
	<br />
	<br />
	 
	<a th:href="${#mvc.url('IC#cliConcessionaria').arg(0, concessionaria.id).build()}"><span>Cadastrar um cliente</span></a>
	<a th:href="${#mvc.url('IC#carConcessionaria').arg(0, concessionaria.id).build()}"><span>Cadastrar um carro</span></a>
</body>
</html>